{% extends 'core/base.html' %}

{% block content %}
<div class=" container mt-5">
<h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
<div class="row text-white">
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid i-color fa-magnifying-glass-dollar fa-3x"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid i-color fa-palette fa-3x"></i>
        <h3>WEB DESIGN</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid  i-color fa-code fa-3x"></i>
        <h3>WEB DEVELOPMENT</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
</div>
<div class="row text-white">
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid fa-magnifying-glass-dollar fa-3x"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid fa-magnifying-glass-dollar fa-3x"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid fa-magnifying-glass-dollar fa-3x"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
</div>
<div class="row text-white">
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid fa-magnifying-glass-dollar fa-3x"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid fa-palette fa-3x"></i>
        <h3>WEB DESIGN</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
    <div class="col-sm-4 text-center text-white mb-5"> 
        <i class="fa-solid fa-magnifying-glass-dollar fa-3x"></i>
        <h3>CODE</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus cupiditate fuga corporis .</p>
    </div>
</div>







</div>

</div>
{% endblock content %}